certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
idna==3.3
pip==21.3.1
psycopg==3.0.9
psycopg-binary==3.0.9
python-dotenv==0.19.2
requests==2.27.1
setuptools==60.2.0
urllib3==1.26.8
wheel==0.37.1
